

@media screen and (min-width:768px){
    .profilepic{
        margin-top: 50px;


        height: 220px;
        width: 220px;
    }
    .profile-contain{
        background-color:#EDEDED;
        /* width: 220px; */
    }
    .dp .profilepic img{
     
     width: 190px;
    
       
        
    }
    .introtext{
       margin-top:35px;
       
        font-size:22px;
    }
    .introtext span{
   
        font-size:25px;
    }
    
    .resume img{
        width:180px;
    }
    
    
    
    /************************about section*******************/
 
    .section2 li{
        font-family:'Kiwi Maru', serif;
    }
    .aboutme {
    
    margin:30px;

        
       
        
    }
    .aboutme .abouthead{
        text-align: start; 
        font-size:24px;
        margin:10px;
    }
    .aboutme .bio{
         font-size:18px;
         text-align: start;
        margin: 0px 20px 0px 20px;
    
    } 
    .aboutimg,.aboutimg img{
       position: absolute;
     width: 350px;
    bottom: 15%;
   left: auto; 
    right: 8%;
    }
    
    .education{
    text-align: start;
    margin:0px  40px;
    }
    
    .education .edu{
      
        font-size:22px;
        
        
    }
    .education .btech{
        font-size:18px;
        margin: 10px;
      }
    .education .iit{
        margin: 10px;
    list-style: none;
     font-size:18px;
     /* line-height:20px; */
     list-style: none;
    }
    .education .xii{
        margin: 10px;
           font-size:18px;
    
    
    }
    .education .ssps1{
   
    margin: 10px;
       font-size:18px;
         /* line-height:20px; */
      
    }
    .education .x{
    /*       position: absolute;*/
    margin: 10px;
   
        font-size:18px;
          /* line-height:20px; */
       font-weight: bold;
    }
    .education .ssps2{
    /*       position: absolute;*/
    margin: 10px;
        
      font-size:18px;
         /* line-height:20px; */
    
       
    }
    
    /************************Skills section*******************/
    .section3{
        position: relative;
        width: 100vw;
        height: 100vh;
     font-family:'Kiwi Maru', serif;
        align-items: flex-start;
     /* justify-content: flex-end; */
    /*     justify-content:space-between;*/
        color:var(--fivth-color);
       background-color:  var(--third-color);
        
    }
    
    .skill{
       /* padding-top: 25px; */
       margin: 45px;
       
    }
    
    .skillhead{
        list-style: none;
        font-size:24px;
    text-align: start;
    margin: 10px;
    }
    .skilltext{
       margin: 10px;
 
    text-align:start;
        font-size:18px;
    }
    .skillimg{
 
        width:320px;
        bottom: 20%;
        left: auto;
        right: 10%;
       
      
    }
    
}


@media screen and (min-width:1024px){
    .profilepic{
        margin-top: 50px;


        height: 220px;
        width: 220px;
    }
    .profile-contain{
        background-color:#EDEDED;
        /* width: 220px; */
    }
    .dp .profilepic img{
     
     width: 190px;
    
       
        
    }
    .introtext{
       margin-top:35px;
       
        font-size:25px;
    }
    .introtext span{
   
        font-size:28px;
    }
    
    .resume img{
        width:200px;
    }
    
    
    
    /************************about section*******************/
 
    
    .aboutme {
    
    margin:50px;

        
       
        
    }
    .aboutme .abouthead{
        text-align: start; 
        font-size:28px;
        margin:20px;
    }
    .aboutme .bio{
         font-size:22px;
         text-align: start;

    
    } 
    .aboutimg,.aboutimg img{
       position: absolute;
     width: 450px;
    bottom: 10%;
   left: auto; 
    right: 10%;
    }
    
    .education{
    text-align: start;
    margin:0px  60px;
    }
    
    .education .edu{
      margin: 10px;
        font-size:24px;
        
        
    }
    .education .btech{
        font-size:22px;
        margin: 10px;
      }
    .education .iit{
        margin: 10px;
    list-style: none;
     font-size:22px;
     /* line-height:20px; */
     list-style: none;
    }
    .education .xii{
        margin: 10px;
           font-size:22px;
    
    
    }
    .education .ssps1{
   
    margin: 10px;
       font-size:22px;
         /* line-height:20px; */
      
    }
    .education .x{
    /*       position: absolute;*/
    margin: 10px;
   
        font-size:22px;
          /* line-height:20px; */
       font-weight: bold;
    }
    .education .ssps2{
    /*       position: absolute;*/
    margin: 10px;
        
      font-size:22px;
         /* line-height:20px; */
    
       
    }
    
    /************************Skills section*******************/
    
    
    .skill{
    
       margin: 50px;
       
    }
    
    .skillhead{
    
        font-size:33px;
    
    }
    .skilltext{
        font-size:22px;
    }
    .skillimg{
 
        width:370px;
        /* bottom: 10%; */
        left: auto;
        right: 10%;
       
      
    }
    
}